@import url("../reset.css");

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-image: linear-gradient(#ffffff, #14052a);
    color: #ffffff;
    font-size: 21px;
    padding-top: 75px;
}
footer a{
    color: #14052a;
}
footer ul{
    line-height: 45px;
}

footer ul li{
    margin-left: 20px;
    border-top: 1px solid #F2F2F2;
}
footer .copy{
    margin-left: 20px;
    border:none;
}

@media only screen and (max-width: 900px) {

   footer{
    flex-direction: column;
    text-align: center;
    padding: 120px 50px 0px 50px;
   }

   footer ul{
    width: 50%;
    margin: 25px auto;
   }
}
@media only screen and (max-width: 700px) {

    footer{
     flex-direction: column;
     text-align: center;
     padding: 120px 20px 0px 20px;
     margin-top: 35px;

    }
 
    footer ul{
     width: 75%;
     margin: 25px auto;
    }
 }
 @media only screen and (max-width: 475px) {
    
    footer ul{
     width: 100%;
     margin: 25px auto;
    }
 }